SECRET_KEY=coloque-uma-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/Fortaleza

POSTGRES_DB=cofrinho
POSTGRES_USER=cofrinho
POSTGRES_PASSWORD=coloque-uma-senha-aqui

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
